/* Disable 4px border around images */
.reveal section img {
  border: none;
}

/* Blow image up to full screen size */
.reveal section img
{
  height: auto;
  width: 100%;
  max-width: 80%;
  max-height: 80%;
  margin: 2%;
}

/* Blow iframe up to full screen size */
.reveal section iframe
{
  height: 100%;
  width: 100%;
  margin: 2%;
}
