<?xml version='1.0' encoding='UTF-8'?>
<image name='sles12sp2' displayname='SLES_12_SP2' schemaversion='6.2'>
  <description type='system'>
    <author>SUSE OpenStack Cloud Team</author>
    <contact>cloud-devel@suse.de</contact>
    <specification>SLES 12 SP2</specification>
  </description>
  <preferences>
    <!-- for OEM:
    <type primary='true' image='oem' boot='oemboot/suse-SLES12' installiso='true' hybrid='true' checkprebuilt='true' installboot='install' fsnocheck='true' filesystem='ext3' bootloader='grub2' boottimeout='7' kernelcmdline='splash=silent quiet' fsmountoptions='acl'>
      <oemconfig>
        <oem-swap>true</oem-swap>
        <oem-swapsize>512</oem-swapsize>
        <oem-unattended>false</oem-unattended>
        <oem-recovery>false</oem-recovery>
        <oem-reboot>false</oem-reboot>
        <oem-boot-title>SUSE OpenStack Cloud 6 Admin Server</oem-boot-title>
      </oemconfig>
    </type>
    -->
    <!-- for live ISO:
    <type image='iso' boot='isoboot/suse-SLES12' installiso='true' hybrid='true' checkprebuilt='true' installboot='install' fsnocheck='true' filesystem='ext3' bootloader='grub2' boottimeout='7' kernelcmdline='splash=silent quiet' fsmountoptions='acl' flags='overlay'/>
    -->
    <!-- for vagrant: -->
    <type image="vmx" format="vagrant" boot="vmxboot/suse-SLES12" filesystem="ext3" bootloader="grub2"  boottimeout='7' kernelcmdline='splash=silent quiet' fsmountoptions='acl'>
      <vagrantconfig provider="libvirt"    virtualsize="50" boxname="suse/sles12sp2" />
      <vagrantconfig provider="virtualbox" virtualsize="50" boxname="suse/sles12sp2" />
      <machine memory="512" guestOS="openSUSE_64" HWversion="9" ovftype="vmware">
        <vmdisk id="0" controller="lsilogic"/>
      </machine>
      <size unit="G">50</size>
    </type>
    <version>0.0.1</version>
    <packagemanager>zypper</packagemanager>
    <rpm-check-signatures>false</rpm-check-signatures>
    <rpm-force>false</rpm-force>
    <bootsplash-theme>studio</bootsplash-theme>
    <bootloader-theme>studio</bootloader-theme>
    <timezone>UTC</timezone>
    <hwclock>utc</hwclock>
    <keytable>us.map.gz</keytable>
    <locale>en_US</locale>
  </preferences>
  <!-- for OEM and live ISO:
  <users group='root'>
    <user name='root' password='linux' pwdformat='plain' home='/root' shell='/bin/bash'/>
  </users>
  -->
  <!-- for vagrant: -->
  <users group='root'>
    <user name='root' password='vagrant' pwdformat='plain' home='/root' shell='/bin/bash'/>
  </users>
  <users group='vagrant'>
    <user name='vagrant' home='/home/vagrant' shell='/bin/bash'/>
  </users>
  <packages type='image' patternType='onlyRequired'>
    <package name='patterns-sles-base'/>
    <package name='patterns-sles-Minimal'/>
    <package name='ca-certificates'/>
    <package name='cracklib-dict-full'/>
    <package name='dracut'/>
    <package name='filesystem'/>
    <package name='fontconfig'/>
    <package name='fonts-config'/>
    <package name='grub2'/>
    <package name='iproute2'/>
    <package name='iputils'/>
    <package name='kernel-default'/>
    <package name='lvm2'/>
    <package name='net-tools'/>
    <package name='openssh'/>
    <package name='plymouth'/>
    <package name='parted'/>
    <package name='sles-release'/>
    <package name='syslinux'/>
    <package name='systemd'/>
    <package name='systemd-sysvinit'/>
    <package name='tar'/>
    <package name='udev'/>
    <package name='vim'/>
    <package name='wicked'/>
    <package name='zypper'/>
    <package name='less'/>
    <package name='timezone'/>
    <package name='syslog-service'/>
    <archive name='plymouth.tar' bootinclude='true'/>
    <package name='gfxboot-devel' bootinclude='true'/>
    <!-- Add our magic -->
    <package name='haveged'/> <!-- help when creating gpg keys in VM -->
    <package name='rsyslog'/> <!-- logging cookbook wants rsyslog, not syslog that kiwi picks by default -->
    <!-- Help build service pick packages when something is provided by multiple packages -->
    <package name='sles-release-DVD'/>
    <!-- Packages that kiwi can't seem to find & install automatically, it seems -->
    <package name='python-base'/>
    <package name='xdg-utils'/>
    <!-- for vagrant: -->
    <package name='rsync'/>
    <package name='sudo'/>
    <!-- for non-vagrant
    <package name='yast2-firstboot'/>
    -->
  </packages>
  <packages type='bootstrap'>
    <package name='elfutils'/>
    <package name='filesystem'/>
    <package name='fipscheck'/>
    <package name='glibc-locale'/>
    <package name='pkg-config'/>
    <package name='sg3_utils'/>
    <package name='suse-build-key'/> <!-- not strictly required, but nicer -->
  </packages>
  <repository type='rpm-md'>
    <!-- for containment-rpm-SUSE-OPENSTACK-CLOUD-7-DEPS, but only because it's required in the prjconf -->
    <source path='obs://Devel:Cloud:7:Appliances/SLE_12_SP2'/>
  </repository>
  <repository type='rpm-md'>
    <source path='obs://SUSE:SLE-12-SP2:Update/standard' />
  </repository>
  <repository  type='rpm-md'>
    <source path='obs://SUSE:SLE-12-SP2:GA/standard' />
  </repository>
  <repository type='rpm-md'>
    <source path='obs://SUSE:SLE-12-SP1:Update/standard' />
  </repository>
  <repository  type='rpm-md'>
    <source path='obs://SUSE:SLE-12-SP1:GA/standard' />
  </repository>
  <repository  type='rpm-md'>
    <source path='obs://SUSE:SLE-12:Update/standard' />
  </repository>
  <repository  type='rpm-md'>
    <source path='obs://SUSE:SLE-12:GA/standard' />
  </repository>
</image>
